.root {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

@media(max-width: 480px) {
    .root {
        padding: 2px;
    }
}